# CMake
build/
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile

# Salidas de compilación
*.exe
*.obj
*.o
*.out
*.pdb

# Directorios de salida
output/
!output/.gitkeep

# IDEs
.vscode/
.vs/
*.suo
*.user

# Archivos temporales
*.tmp
*.log
