# CMake
build/
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile

# Salidas de compilación
*.exe
*.obj
*.o
*.out
*.pdb
!data/**/*.obj

# Directorios de salida
output/
!output/.gitkeep
!data/output/
!data/output/.gitkeep
!data/output/*.vtu

# IDEs
.vscode/
.vs/
*.suo
*.user

# Archivos temporales
*.tmp
*.log
